
.headertitle {
  padding: 10px;
  text-align: center;
  font-size:15px; 
  font-family:sans-serif; 
  font-weight: lighter;
  /*line-height:0.15; */
  text-align:center;
  letter-spacing:0.4em;
}

#mainTitle {
  font-family:sans-serif; 
  text-align: center;
  font-size: 30;
  background-color: #bee5e8;/* #cceeff;  pastel blue*/
  color: black;
  letter-spacing: 0.2em;
  height: 40px;
  font-weight: lighter;
}

table {
  border-collapse:separate; 
  border-spacing:5em;

}
table.center {
  margin-left: auto;
  margin-right: auto;
}
tr:nth-of-type(even) {
      background-color: #bee5e8;
}
h2 {
    color: #158FFA;
    border-bottom: 1px solid #CCC;
}

.btncontainer {
  display: flex;
  justify-content: center;
}

.btn-group button {
  background-color: #ccffe8; /* pastel green background */
  border: 1px #ccffe8; /* pastel Green border */
  border-radius: 180px;
  color: black; /* black text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  margin-right: 20px;
  font-size : 20px;
  display: inline-block;
  width: 180px;
  height:40px;
  font-size:16px; 
  font-weight: lighter; 
  font-family:sans-serif;
  line-height:0.8;
  text-align: center;

  }

/* Clear floats (clearfix hack) */
/**.btn-group:after {
  content: "";
  clear: both;
  display: table;
}**/

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #66ffba;
}

