* {
  box-sizing: border-box;

}
.headertitle {
  padding: 10px;
  text-align: center;
  font-size:17px; 
  font-family:sans-serif; 
  font-weight: lighter;
  /*line-height:0.15; */
  text-align:center;
  letter-spacing:0.4em;
}

#mainTitle {
  font-family:sans-serif; 
  text-align: center;
  font-size: 30;
  background-color: #85baa1;/*#bee5e8;/* #cceeff;  pastel blue*/
  color: black;
  letter-spacing: 0.2em;
  height: 40px;
  font-weight: lighter;
  /*margin: 0px;*/
}

#logo {
  float: left;
}

table {
  border-collapse:separate; 
  border-spacing:5em;

}
table.center {
  margin-left: auto;
  margin-right: auto;
}
tr:nth-of-type(even) {
      background-color: #85baa1;/*#bee5e8;*/
}
h2 {
    color: #158FFA;
    border-bottom: 1px solid #CCC;
}

.home{
  background-color: #85baa1;
  border: 3px solid #CEEDDB;
  margin: 6px;
  margin-top: 0px;
}

.home > h3 {
  text-align: center;
  margin: 0px 0px 10px 0px;
}

#newArticles {
  width: 45%;
  height: 91%;
  background-color: #6E8894; 
  float: left;
}

#twitterTweets {
  width: 52%;
  height: 40%;
  background-color: #544E61;
  float: right;
}

#eventsNearMe {
  width: 52%;
  height: 30%;
  background-color: #67597A;
  float: right;
}

#relatedNews {
  width: 52%;
  height: 20%;
  float: right;
}



.btncontainer {
  display: flex;
  justify-content: center;
}

.btn-group button {
  background-color: #CEEDDB; /* pastel green background */
  border: 1px #CEEDDB; /* pastel Green border */
  border-radius: 180px;
  color: black; /* black text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  margin-right: 20px;
  font-size : 20px;
  display: inline-block;
  width: 180px;
  height:40px;
  font-size:16px; 
  font-weight: lighter; 
  font-family:sans-serif;
  line-height:0.8;
  text-align: center;

  }

/* Clear floats (clearfix hack) */
/**.btn-group:after {
  content: "";
  clear: both;
  display: table;
}**/

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #85baa1;
}

.resource {
  background-color: #E0F3E8;
  border: 3px solid #7AA19B;
  margin: 6px;
  margin-top: 0px;
  margin-bottom: 10px; 
}

.resource > h4 {
  text-align: center;
  margin-top: 1px;
}

#books {
  width: 49%;
  height: 69%;           
  float: left;

}

#movies {
  width: 48%;
  height: 25%;
  float: right;
}

#tvshows {
  width: 48%;
  height: 25%;
  float: right;
}

#activistweb {
  width: 48%;
  height: 49%;
  float: right;
} 

#meetings {
  width: 49%;
  height: 29%;
  float: left;
}