<!DOCTYPE html>

<html lang="en">

<head>

     <%- include('../partials/head'); %>
     <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="container">



<header>

    <%- include('../partials/header'); %>

</header>






<main>

    <table>
        <tr>
            <th>
                <h2> Learn About the Creators </h2>
            </th>
        </tr>
        <tr>
            <th>
                <h3> Baran Abbasi </h3>
            </th>
            <td>
                <p> to be added </p>
            </td>
        </tr>
        <tr>
            <th>
                <h3> Helia Hamidi </h3>
            </th>
            <td>
    ​           </p> to be added. </p>
            </td>
        </tr>
    </table>

</main>







<footer>

    <%- include('../partials/footer'); %>

</footer>



</body>

</html>

