<!DOCTYPE html>

<html lang="en">

<head>

     <%- include('../partials/head'); %>
     <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="container">



<header>

    <%- include('../partials/header'); %>

</header>






<main>

    
    <h2> Learn About the Creators </h2>
    <table>
        <tr>
            <th>
                <h3> Baran Abbasi </h3>
            </th>
            <td>
                <img class="creatorImg" src="img/baran.png" width="75%">
            </td>
            <td>
                <p> Baran is currently a sophmore at Cupertino High School and after learning more about how climate change was worsening even though it can be prevented, she allied with Helia to make a newsletter to inform more people about climate change and what we can do to stop it.</p>
            </td>

        </tr>
        <tr>
            <th>
                <h3> Helia Hamidi </h3>
            </th>
            <td>
                add image here <!-- <img class="creatorImg" src="img/addPicNameHere.png"> -->
            </td>
            <td>
    ​           </p> to be added. </p>
            </td>
        </tr>
    </table>

</main>







<footer>

    <%- include('../partials/footer'); %>

</footer>



</body>

</html>

