<!DOCTYPE html>

<html lang="en">

<head>

     <%- include('../partials/head'); %>
     <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="container">



<header>

    <%- include('../partials/header'); %>

</header>






<main>
		<img class="imgref" src="img/books.png">

	    <div id="books" class="resource"> 
	    	<h4>Books</h4>
    		<i>&emsp;Ages 3-5: <br></i>
			&emsp;&emsp;- <a href="https://amzn.to/3qnI8jz">The EARTH Book, Todd Parr</a><br>
			&emsp;&emsp;- <a href="https://amzn.to/2NlLmFH">Fever at the Poles, Stephen Aitken</a><br>
			&emsp;&emsp;- <a href="https://amzn.to/3b8j49J">The Polar Bears' Home: A Story About Global Warming, Lara Bergen</a><br>
			&emsp;&emsp;- <a href="https://amzn.to/3rUnojK">Bee & Me, Alison Jay</a><br>
			&emsp;&emsp;- <a href="https://amzn.to/3rTGJlf">10 Things I Can Do to Help My World, Melanie Walsh</a><br>
		  &emsp;&emsp;- <a href="https://amzn.to/3rTGJlf">Compost Stew: An A to Z Recipe for the Earth, Mary McKenna Siddals</a><br>
		<i>&emsp;Ages 6-9:<br></i>
			&emsp;&emsp;- <a href="https://amzn.to/3b7sKS8">The Lorax, Dr. Seuss</a><br>
			&emsp;&emsp;- <a href="https://amzn.to/3bkXQWD">The Magic School Bus and the Climate Challenge, Joanna Cole and Bruce Degen</a><br>
			&emsp;&emsp;- <a href="https://amzn.to/3rLosGK">The Fog, Kyo Maclear</a><br>
			&emsp;&emsp;- <a href="https://amzn.to/3b3GywQ">The Problem of the Hot World, Pam Bonsper</a><br>
			<i>&emsp;Ages 10-12:<br></i>
			&emsp;&emsp;- <a href="https://amzn.to/3deQ8Qq">What Is Climate Change? (What Was?), Gail Herman</a><br>
			&emsp;&emsp;- <a href="https://amzn.to/37eAv7L">The New 50 Simple Things Kids Can Do to Save the Earth, Sophie Javna</a><br>
			&emsp;&emsp;- <a href="https://amzn.to/3ahV3Ow">Climate Change: A Hot Topic! (Basher Science Series), Simon Basher</a><br>
			&emsp;&emsp;- <a href="https://amzn.to/3jOKci4">Mission: Save the Planet: Things YOU Can Do to Help Fight Global Warming!, Tam O'Shaughnessy</a><br>
			&emsp;&emsp;- <a href="https://amzn.to/3tYFKlx">Under the Weather: Stories About Climate Change,
Tony Bradman</a><br>
			<i>&emsp;Teenagers:<br></i>
			&emsp;&emsp;- <a href="https://amzn.to/3rVZfcS">No One Is Too Small to Make a Difference, Greta Thunberg</a><br>
			&emsp;&emsp;- <a href="https://amzn.to/3rWXxaO">It's Getting Hot in Here: The Past, Present, and Future of Climate Change, Bridget Hoes</a><br>
			&emsp;&emsp;- <a href="https://amzn.to/3alphjA">We Are the Weather Makers: The History of Climate Change</a><br>
			&emsp;&emsp;- <a href="https://amzn.to/3aghlQG">Eyes Wide Open: Going Behind the Environmental Headlines,Paul Fleischman</a><br>
		</div>



		<img class="imgref" src="img/movies.png">
		<div id="movies" class="resource">
			<h4>Movies</h4>
				&emsp;- <a href="https://www.hulu.com/watch/6eb88d15-22f0-4f7b-90aa-6933ddc2f90a">I am Greta</a><br>
				&emsp;- <a href="https://amzn.to/3qhkDZs">Before the Flood</a><br>
				&emsp;- <a href="https://amzn.to/3aoXpLH">Fast Color</a><br>
				&emsp;- <a href="https://amzn.to/2N6xJuf">Snowpiercer</a><br>
				&emsp;- <a href="https://amzn.to/2OyumMV">Planet of the Humans</a><br>
				&emsp;- <a href="https://amzn.to/2NoTJjN">The Colony</a><br>
				&emsp;- <a href="https://amzn.to/3qpkPWO">Into the Storm</a><br>
				&emsp;- <a href="https://amzn.to/3d9MO97">Ice on Fire</a><br>
				&emsp;- <a href="https://amzn.to/3jW7rqI">Climate Hustle</a><br>
				&emsp;- <a href="https://amzn.to/3s6nzsD">An Inconvenient Truth</a><br>
				&emsp;- <a href="https://amzn.to/3u6Lgmr">Chasing Ice</a><br>
		</div>


		<img class="imgref" src="img/tvshows.png">
		<div id="tvshows" class="resource">
			<h4>TV Shows</h4>
				&emsp;- <a href="https://www.netflix.com/watch/80049832?source=35">Our Planet</a><br>
				&emsp;- <a href="https://amzn.to/3de0ikg">Years of Living Dangerously</a><br>
				&emsp;- <a href="https://amzn.to/2OzkjY1">Planet Earth: Frozen Planet</a><br>
		</div>


		<img class="imgref" src="img/websites.png">
		<div id="activistweb" class="resource">
			<h4>Find More Activists</h4>
				&emsp;- <a href="https://blueprintforbetter.org/?gclid=CjwKCAiApNSABhAlEiwANuR9YFthu0kzrRjnZ06Vkmzbsay9Sokn4mwagqHWcCbk14R8C5LAIFr4oRoC-JcQAvD_BwE">Blueprint for Better</a><br>
				&emsp;- <a href="https://www.plantyourchange.com/?utm_source=adwords&utm_medium=paids&utm_campaign=pyclite-11445459074&utm_content=e-a-0-0-kwd-10746136+474778134451+118737092104&utm_term=0-global%20warming}-b-0-null&gclid=CjwKCAiApNSABhAlEiwANuR9YKp5Y-w-vxQrcRSqRj3Nw5XlsjI--zrlK3CzbpOF-6PN6Pw9X8bOWBoC9DYQAvD_BwE">Plant Your Change</a><br>
				&emsp;- <a href="https://www.bloomberg.org/program/environment/?gclid=CjwKCAiApNSABhAlEiwANuR9YGXl9lSYZb6CWMuRIzI8siQkCxuXXE5krrAxFazJeGGzMeb38PfaqBoCWtoQAvD_BwE#overview">Bloomberg</a><br>
				&emsp;- <a href="https://350.org/">350</a><br>
				&emsp;- <a href="https://plan-international.org/youth-activism/climate-change-activists">Plan International</a><br>
				&emsp;- <a href="https://www.sunrisemovement.org/?ms=SunriseMovement">Sunrise Movement</a><br>
				&emsp;- <a href="https://peoplesclimate.org/">People's Climate</a><br>
		</div>


		<img class="imgref" src="img/meetings.png">
		<div id="meetings" class="resource">
			<h4>Confrences/Meetings</h4>
				&emsp;- <a href="https://unfccc.int/">UNFCCC</a><br>
				&emsp;- <a href="https://ce.csueastbay.edu/ce/conference/?gclid=CjwKCAiApNSABhAlEiwANuR9YCkWiUs0l4zY3ealuO6d9OQahzxj5pvWmNS5qw9cFjxT5DtExJooXBoCvVgQAvD_BwE">Cal State East Bay</a><br>
				&emsp;- <a href="https://www.bloomberg.org/program/environment/?gclid=CjwKCAiApNSABhAlEiwANuR9YMViQ4K26jFPRL3I6g3OKpzOvbGENaKbHzMzwsctgUaOfGQldRL1jhoC7LoQAvD_BwE#overview">Bloomberg</a><br>
				&emsp;- <a href="https://reutersevents.com/events/transform-us/?gclid=CjwKCAiApNSABhAlEiwANuR9YLA-3w4joXENLGoCXYSP3CFhZ-pO7gJuAQKjkm_Ndi0GvFCmn5XP8BoCyMYQAvD_BwE">How Companies Can Act Now and Lead the Clean, Resilient and Just Transition</a><br>
		</div>

    
</main>







<footer>

    <%- include('../partials/footer'); %>

</footer>



</body>

</html>

