<!DOCTYPE html>

<html lang="en">

<head>

     <%- include('../partials/head'); %>
     <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="container">



<header>

    <%- include('../partials/header'); %>

</header>






<main>
	

	    <div id="books" class="resource"> 
	    	<h4>Books</h4>
    		Ages 3-5: <br>
			- The Earth Book, Todd Parr<br>
			- Fever at the Poles, Stephan Aitken<br>
			- The Polar Bears’ Home, Lara Bergen<br>
			- Bee and Me, Alison Jay<br>
			- 10 Things I Can Do to Help My World, Melanie Walsh<br>
		    - Compost Stew: An A to Z Recipe for the Earth, Mary McKenna Siddals<br><br>
			Ages 6-9:<br>
			- The Lorax, Dr. Seuss<br>
			- The Magic School Bus and the Climate Challenge, Joanna Cole and Bruce Degen<br>
			- The Fog, Kyo Maclear<br>
			- The Problem of the Hot World, Pam Bonsper<br><br>
			Ages 10-12:<br>
			- What is Climate Change?, Gail Herman, Who HQ, and John Hinderliter<br>
			- The New 50 Simple Things Kids Can Do to Save the Earth, EarthWorks Group and Sophie Javna<br>
			- Climate Change: A Hot Topic!, Dan Green and Simon Basher<br>
			- Mission: Save the Planet: Things YOU Can Do to Help Fight Global Warming, Sally Ride and Tam O'Shaughnessy<br>
			- Under the Weather: Stories About Climate Change, Tony Bradman<br><br>
			Teenagers:<br>
			- No One Is Too Small to Make a Difference, Greta Thunberg<br>
			- It's Getting Hot in Here: The Past, Present, and Future of Climate Change,  Bridget Heos<br>
			- We are the Weather Makers: The History of Climate Change, Tim Flannery<br>
			- Eyes Wide Open, Paul Fleischman<br>
		</div>

		<div id="movies" class="resource">
			<h4>Movies</h4>
				- I am Greta<br>
				- Before the Flood<br>
				- Fast Color<br>
				- Snowpiercer<br>
				- Planet of the Humans<br>
				- The Colony<br>
				- Into the Storm<br>
				- Ice of Fire<br>
				- Climate Hustle<br>
				- This Changes Everything<br>
				- An Inconvenient Truth<br>
				- Chasing Ice<br>
				- The Eleventh Hour<br>
		</div>

		<div id="tvshows" class="resource">
			<h4>TV Shows</h4>
				- Our Planet<br>
				- Years of Living Dangerously<br>
				- Planet Earth: Frozen Planet<br>
		</div>

		<div id="activistweb" class="resource">
			<h4>Find More Activists</h4>
				- <a href="https://blueprintforbetter.org/?gclid=CjwKCAiApNSABhAlEiwANuR9YFthu0kzrRjnZ06Vkmzbsay9Sokn4mwagqHWcCbk14R8C5LAIFr4oRoC-JcQAvD_BwE">Blueprint for Better</a><br>
				- <a href="https://www.plantyourchange.com/?utm_source=adwords&utm_medium=paids&utm_campaign=pyclite-11445459074&utm_content=e-a-0-0-kwd-10746136+474778134451+118737092104&utm_term=0-global%20warming}-b-0-null&gclid=CjwKCAiApNSABhAlEiwANuR9YKp5Y-w-vxQrcRSqRj3Nw5XlsjI--zrlK3CzbpOF-6PN6Pw9X8bOWBoC9DYQAvD_BwE">Plant Your Change</a><br>
				- <a href="https://www.bloomberg.org/program/environment/?gclid=CjwKCAiApNSABhAlEiwANuR9YGXl9lSYZb6CWMuRIzI8siQkCxuXXE5krrAxFazJeGGzMeb38PfaqBoCWtoQAvD_BwE#overview">Bloomberg</a><br>
				- <a href="https://350.org/">350</a><br>
				- <a href="https://plan-international.org/youth-activism/climate-change-activists">Plan International</a><br>
				- <a href="https://www.sunrisemovement.org/?ms=SunriseMovement">Sunrise Movement</a><br>
				- <a href="https://peoplesclimate.org/">People's Climate</a><br>
		</div>

		<div id="meetings" class="resource">
			<h4>Confrences/Meetings</h4>
				- <a href="https://unfccc.int/">UNFCCC</a><br>
				- <a href="https://ce.csueastbay.edu/ce/conference/?gclid=CjwKCAiApNSABhAlEiwANuR9YCkWiUs0l4zY3ealuO6d9OQahzxj5pvWmNS5qw9cFjxT5DtExJooXBoCvVgQAvD_BwE">Cal State East Bay</a><br>
				- <a href="https://www.bloomberg.org/program/environment/?gclid=CjwKCAiApNSABhAlEiwANuR9YMViQ4K26jFPRL3I6g3OKpzOvbGENaKbHzMzwsctgUaOfGQldRL1jhoC7LoQAvD_BwE#overview">Bloomberg</a><br>
				- <a href="https://reutersevents.com/events/transform-us/?gclid=CjwKCAiApNSABhAlEiwANuR9YLA-3w4joXENLGoCXYSP3CFhZ-pO7gJuAQKjkm_Ndi0GvFCmn5XP8BoCyMYQAvD_BwE">How Companies Can Act Now and Lead the Clean, Resilient and Just Transition</a><br>
		</div>

    
</main>







<footer>

    <%- include('../partials/footer'); %>

</footer>



</body>

</html>

