<!DOCTYPE html>

<html lang="en">

<head>

     <%- include('../partials/head'); %>
     <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="container">



<header>

    <%- include('../partials/header'); %>

</header>






<main>

    <p> to be added </p>
    <p> Ages 3-5: 
The Earth Book, Todd Parr
Fever at the Poles, Stephan Aitken
The Polar Bears’ Home, Lara Bergen
Bee and Me, Alison Jay
10 Things I Can Do to Help My World, Melanie Walsh
Compost Stew: An A to Z Recipe for the Earth, Mary McKenna Siddals


Ages 6-9:
The Lorax, Dr. Seuss
The Magic School Bus and the Climate Challenge, Joanna Cole and Bruce Degen
The Fog, Kyo Maclear
The Problem of the Hot World, Pam Bonsper



Ages 10-12:
What is Climate Change?, Gail Herman, Who HQ, and John Hinderliter
The New 50 Simple Things Kids Can Do to Save the Earth, EarthWorks Group and Sophie Javna
Climate Change: A Hot Topic!, Dan Green and Simon Basher
Mission: Save the Planet: Things YOU Can Do to Help Fight Global Warming, Sally Ride and Tam O'Shaughnessy
Under the Weather: Stories About Climate Change, Tony Bradman


Teenagers:
No One Is Too Small to Make a Difference, Greta Thunberg
It's Getting Hot in Here: The Past, Present, and Future of Climate Change,  Bridget Heos
We are the Weather Makers: The History of Climate Change, Tim Flannery
Eyes Wide Open, Paul Fleischman
</p>
    
</main>







<footer>

    <%- include('../partials/footer'); %>

</footer>



</body>

</html>

