<div class="headertitle">
      <img id="logo" src="img/climatefeedlogo.0 copy.jpg" width="75">
  	 <p>~ one article can start a revolution ~<br>
     ~ let's revolt against climate change ~</p>
     
      <h1 id="mainTitle"> CLIMATE FEED </h1>
</div>

<div class="btncontainer"> 
      <div class="btn-group">
        <button  onclick="location.href='/'">Home</button>

        <button  onclick="location.href='/resources'">Resources</button>

        <button  onclick="location.href='/about'" >About</button>
      </div> 
</div><br>  