<meta charset="UTF-8">
<title> ClimateFeed </title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel-"stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootsrtap.min.css">
<style>
	body {
		padding-top: 50px;
	}
</style>